:root {
  --color-primary: #4b2833;
  --color-primary-transparent: #4b2833c0;
  --color-primary-transparent2: #4b283323;
  --color-secondary: #f4f4eb;
  --color-accent: #c4b59c;
  --color-accent-transparent: #c4b59cc0;
}

@font-face {
  font-family: "Across the Road";
  src: url("assets/fonts/Across_the_Road.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Bahnschrift";
  src: url("assets/fonts/Bahnschrift.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Bahnschrift", sans-serif;
}

body {
  background-color: var(--color-secondary);
  color: var(--color-secondary);
}

.bg-1 {
  background-color: var(--color-primary);
}

.bg-2 {
  background-color: var(--color-secondary);
}

.bg-3 {
  background-color: var(--color-accent);
}

.text-color-1 {
  color: var(--color-primary);
}

.text-color-2 {
  color: var(--color-secondary);
}

.text-color-3 {
  color: var(--color-accent);
}

.transition {
  transition: 1.5s;
}

.transition-short {
  transition: 0.5s;
}

.striscia {
  height: 1.6rem;
}

/* NAVBAR */
.nav-scrolled {
  margin: 5vh 10vw;
  border: 2px solid var(--color-accent);
  border-radius: 20px;
  backdrop-filter: blur(7px);
  background-color: var(--color-primary-transparent);
  max-height: 4.5rem;
}

.nav-scrolled-2 {
  margin: 5vh 10vw;
  border: 2px solid var(--color-accent);
  border-radius: 20px;
  backdrop-filter: blur(7px);
  background-color: var(--color-primary-transparent2);
  max-height: 4.5rem;
}

.title {
  font-family: "Across the Road";
  color: var(--color-accent);
  transition: color 0.5s ease-in-out;
}

.title-home:hover {
  color: var(--color-secondary);
  transition: color 0.5s ease-in-out;
}

.hidden-visibility {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out, visibility 0s linear 0.5s;
}

.visible-visibility {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease-in-out;
}

.nav-item-color {
  color: var(--color-accent) !important;
}

.active-custom {
  font-weight: bold;
}

.nav-item-color:hover {
  color: var(--color-secondary) !important;
}

.nav-section-custom {
  color: var(--color-primary);
}

.nav-section-custom-2 {
  color: var(--color-accent);
}

.nav-section-custom:hover {
  color: var(--color-accent);
}

.nav-section-custom-2:visited {
  color: var(--color-primary);
}

.nav-section-custom-2:hover {
  color: var(--color-accent);
}

/* HEADER */
.title-header {
  font-family: "Across the Road";
  color: var(--color-accent);
  font-size: 8rem;
}

.logo-custom {
  width: 7rem;
}

.scale-transition:hover {
  transform: scale(1.1);
}

.contatti-colore {
  color: var(--color-accent);
}

.title-logo {
  color: var(--color-accent);
  font-size: 1rem;
}

/* CV */
.section-white-custom {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  min-height: 100vh;
}

.section-title {
  font-size: 3rem;
  text-align: center;
}

.section-paragraph {
  font-size: 1.25rem;
}

/* WEDDING */
.loghi-marks {
  width: 10rem;
}

.marks-video {
  width: 80%;
}

/* TEACHING */
.padding-top {
  padding-top: 6rem;
}

.list-custom {
  list-style: none;
}

/* LIVE MUSIC */
.shadow-custom {
  box-shadow: 0px 0px 0px 1px, var(--color-primary) 0px 0px 0px 2px;
}

.img-cont-custom {
  height: 20rem;
}

/* FOOTER */
.title-footer {
  color: var(--color-secondary);
}
.contatti-footer {
  text-decoration: none;
  color: var(--color-accent);
}

.contatti-footer:hover {
  text-decoration: none;
  color: var(--color-secondary);
}

.p-contatti-footer {
  font-size: 1.6rem;
}

.logo-social:hover {
  transform: scale(0.9);
}

.copyright-color {
  color: var(--color-accent);
}

@media screen and (max-width: 992px) {
  /* NAVBAR */
  .nav-scrolled {
    margin: 0vh 0vw;
    border: 0px solid var(--color-accent);
    border-radius: 0px;
    backdrop-filter: blur(7px);
    background-color: var(--color-primary-transparent);
    max-height: fit-content;
  }

  .mobile-opacity {
    backdrop-filter: blur(7px);
    background-color: var(--color-primary-transparent);
  }

  .mobile-opacity-2 {
    backdrop-filter: blur(7px);
    background-color: var(--color-primary-transparent2);
  }

  /* HEADER */
  .title-header {
    font-size: 4rem;
  }

  .logo-custom {
    width: 7rem;
  }

  .title-logo {
    font-size: 1.2rem;
    width: 100px;
  }

  /* CV */
  .section-title {
    font-size: 1.6rem;
  }

  .section-paragraph {
    font-size: 1rem;
  }

  /* LIVE MUSIC */
  .img-cont-custom {
    height: auto;
  }

  /* FOOTER */
  .logo-footer {
    width: 30px;
  }

  .p-contatti-footer {
    font-size: 1rem;
  }
}
