:root {
  --color-primary: #4b2833;
  --color-primary-transparent: #4b2833c0;
  --color-secondary: #f4f4eb;
  --color-accent: #c4b59c;
}

@font-face {
  font-family: "Across the Road";
  src: url("assets/fonts/Across_the_Road.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Bahnschrift";
  src: url("assets/fonts/Bahnschrift.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Bahnschrift", sans-serif;
}

body {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

.transition {
  transition: 1.5s;
}

.transition-short {
  transition: 0.5s;
}

/* NAVBAR */
.nav-scrolled {
  margin: 5vh 10vw;
  border: 2px solid var(--color-accent);
  border-radius: 20px;
  backdrop-filter: blur(7px);
  /* background-color: rgba(0, 0, 0, 0.5); */
  background-color: var(--color-primary-transparent);
}

.title {
  font-family: "Across the Road";
  color: var(--color-accent);
}

.title:hover {
  color: var(--color-secondary);
}

.nav-item-color {
  color: var(--color-accent) !important;
}

.active-custom {
  font-weight: bold;
}

.nav-item-color:hover {
  color: var(--color-secondary) !important;
}

.nav-section-custom {
  color: var(--color-primary);
}

.nav-section-custom-2 {
  color: var(--color-accent);
}

.nav-section-custom:hover {
  color: var(--color-accent);
}

.nav-section-custom-2:hover {
  color: var(--color-secondary);
}

.hidden-visibility {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out, visibility 0s linear 0.5s;
}

.visible-visibility {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease-in-out;
}

/* HEADER */
.title-header {
  font-size: 12.5rem;
}

.logo-custom {
  width: 9rem;
}

.logo-custom:hover {
  transform: scale(0.9);
}

.contatti-colore {
  color: var(--color-accent);
}

/* CV */
.section-white-custom {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  min-height: 100vh;
}

.section-title {
  font-size: 5rem;
  text-align: center;
}

.section-paragraph {
  font-size: 1.75rem;
}

/* TEACHING */
.padding-top {
  padding-top: 6rem;
}

.list-custom {
  list-style: none;
}

/* FOOTER */
.title-footer {
  color: var(--color-secondary);
}
.contatti-footer {
  text-decoration: none;
  color: var(--color-accent);
}

.contatti-footer:hover {
  text-decoration: none;
  color: var(--color-secondary);
}

.p-contatti-footer {
  font-size: 1.6rem;
}

.logo-social:hover {
  transform: scale(0.9);
}

.copyright-color {
  color: var(--color-accent);
}

@media screen and (max-width: 992px) {
  /* NAVBAR */
  .nav-scrolled {
    margin: 0vh 0vw;
    border: 0px solid var(--color-accent);
    border-radius: 0px;
    backdrop-filter: blur(7px);
    background-color: rgba(0, 0, 0, 0.5);
  }

  /* HEADER */
  .title-header {
    font-size: 4rem;
  }

  .logo-custom {
    width: 3rem;
  }

  /* CV */
  .section-title {
    font-size: 1.6rem;
    text-align: start;
  }

  .section-paragraph {
    font-size: 1rem;
  }

  /* FOOTER */
  .logo-footer {
    width: 30px;
  }

  .p-contatti-footer {
    font-size: 1rem;
  }
}
